/*vamos a crear uan animacion a partri de 
framse y los vamoa a hacer girar alterar y tranaformar*/

@keyframes animacion_test{

    from{
        background-color: teal;
    }

    to{
        background-color: aqua;
    }
}

@keyframes girar{

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}

@keyframes label-animation{

    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin: 85vw;
    }
}

