@keyframes animacion{

    from{
        background-color: black;
    }

    to{
        background-color: rgb(65, 2, 18);
    }
}

body{
    margin-right: 12rem;
    margin-left: 12rem;
    animation-name: animacion;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

.main-container{
    border: solid white;
    border-radius: 20px;
    background-image: url(FONDO\ GRANDE.jpg);
    background-position: center;
    background-size: cover;
}
.datos-personales{

    border: 4px solid black;
    border-radius: 20px;
    margin: 4rem;
    background-color: cyan;
    height: 32rem;
}

.tabla{
    margin: 1rem;
    height: 28rem;
}
table{
    height: 50px;
    position: center;
}

tr,th{
    border: 4px solid black;
    border-radius: 20px;
    background-color: blueviolet;
    align-items: center;
    margin-top: 1rem;
}

td{
    border-radius: solid 20px black;
    background-color: cyan;
    align-items: center;
    margin-top: 1rem;
    height: 100px;
}

aside{
    
    align-items: center;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
    background-color: blueviolet;
}


.foto{
    width: 40%;
    height: 50%;
    background-image: url(YO.jpg);
    background-position: center;
    background-size:cover;
}

.datos{
    width: 100%;
    height: 50%;
    text-align-last: left;
    text-indent: 20px;
}

.escuela{

    border: 4px solid black;
    border-radius: 20px;
    margin: 1rem;
    background-color:cyan;
    opacity: 0.6;
    margin: 4rem;
    text-indent: 20px;
}

.cursos{
    align-content: center;
    border: 4px solid black;
    border-radius: 20px;
    margin: 2rem;
    background-color: aqua;
    opacity: 0.9;
}

.tabla2{
    align-content: center;
    border-radius: 20px;
    margin: 1rem;
    background-color: cyan;
}

.hobbies{
    border: solid black;
    border-radius: 20px;
    margin: 4rem;
    background-color: cyan;
    opacity: 0.9;
}

.pies{
    border: solid black;
    border-radius: 20px;
    margin: 4rem;
    background-color: cyan;
    opacity: 0.9;
}