body{
    background-color: black;
    color: cyan;
    border: solid mediumorchid;
    border-radius: 10px;
    padding: 1%;
}
nav{
    border: solid 5px;
    border-radius: 10px;
    background-color: darkblue;
}

a{
    color: aliceblue;
    font-size: 20px;
    
}

h1{
    color: aliceblue;
}

table{
    padding: 5px;
}
#ascii{
    
}

td{
    color: cyan;
    border: solid mediumorchid;
    border-radius: 10px;
}

video{
    width: au;
}

.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow:row wrap ;
    
}

.columna1{
    width: 100%;
}
.columna2{
    background-color: #121212;
    width: 50%;
    border: solid cyan;
    border-radius: 20px;
    padding: 1%;
    float: left;
    border-top-left-radius: 0px;
}

.columna3{
    background-color: #121212;
    width: 50%;
    border: solid cyan;
    border-radius: 20px;
    padding: 1%;
    float: right;
    border-bottom-right-radius: 0%;
    
}

.columna3_3{
    background-color: #121212;
    width: 80%;
    border: solid cyan;
    border-radius: 20px;
    padding: 1%;
    float: right;
    
}

.columna4{
    background-color: #121212;
    width: 50%;
    border: solid cyan;
    border-radius: 20px;
    padding: 1%;
    float: left;
    border-bottom-left-radius: 0px;
}


.container-inner{
    background-color: black;
    width: 100%;
    border: solid rgb(255, 0, 242);
    border-radius: 20px;
    padding: 1%;
    background: url(https://p4.wallpaperbetter.com/wallpaper/194/796/848/shovel-knight-video-games-pixel-art-retro-games-wallpaper-preview.jpg)
    no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-spacing: 20px;
}

.container-inner2{
    background-color: black;
    width: 100%;
    border: solid rgb(255, 0, 242);
    border-radius: 20px;
    padding: 1%;
    background: url(https://www.wallpapertip.com/wmimgs/30-305595_cool-iphone-backgrounds-rubiks-cube.jpg)
    no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width; 800px){
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
}

