body{
    background-color: midnightblue;
    color: white;
}

table{
    border: solid 6px;
    border-color: black;
    border-radius: 20px;
    background-color: black;
    color: white;
}

a{
    font-size: 20px;
    color: white;
}

nav{
    background-color: black;
    border: solid magenta;
    padding: 10px;
    text-align: center;
}

.td_sup{
     border-radius: 9px;
}

.td_inf{
    border-bottom-left-radius: 5px;
}

.uno{
    background-color: cyan;
    border: solid black;
    padding: 2px;
}

.dos{
    background-color: red;
    border: solid black;
    padding: 5px;
}

.tres{
    background-color: mediumorchid;
    border: solid black;
    padding: 5px;
}

.cuatro{
    background-color: chocolate;
    border: solid black;
    padding: 5px;
}

.cinco{
    background-color: seagreen;
    border: solid black;
    padding: 5px;
}

.input_text{
    box-shadow: 10px;
    border-radius: 5px;
}

.td_b{
    border: none;
}
.boton{
    height: 30px;
    width: 65px;
    background-color: black;
    border-radius: 10px;
    color: white;
}

#botonespecial{
    height: 30px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
    color: white;
}