body{
    background-color: rgb(189, 216, 230)
}

.imagen{
    align: left;
    margin-left: 30%;
}

.barra{
    background-color: rgba(0, 136, 204, 100);
    margin: 0;
}

.barra ul{
    list-style-type: none;
        
}

.barra li{
    display: inline;
    text-align: center;
    margin: 0 50px 0 0;
}

.barra li a{
    padding: 2px 7px 2px 7px;
    color: white;
    background-color: rgba(0, 136, 204, 100);
    text-decoration: none;
}

.barra li a:hover{
    background-color: rgba(46, 87, 107, 100);
    color: white;
}

.navegacion{
    background-color: rgba(0, 136, 204, 100);
}

.arriba{
    position: fixed;
    z-index: 100;
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

.caja{
    background: white; 
    color:white; 
    padding: 15px; 
    border:3px solid #EC061D; 
    text-align: center;
    font-size:22px; 
    width: 260px;
    border-radius:10px;
}

.lista{
    list-style: none;
}

h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    color: #EC061D;
}

.titulo_caja{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: black;
}

.carrousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}
  
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    position: 1;
    pointer-events: none;
}
  
div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    border-radius:10px;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
  
div.item:nth-of-type(1) {
    --offset: 1;
    background-color: rgba(0, 136, 204, 100);
    border:3px solid #D7D9D8; 
    padding: 20px;
    padding-top:0%;
    text-align: justify;
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-color: rgba(0, 136, 204, 100);
    border:3px solid #D7D9D8; 
    padding: 20px;
    padding-top:0%;
    text-align: justify;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-color: rgba(0, 136, 204, 100);
    border:3px solid #D7D9D8; 
    padding: 20px;
    padding-top:0%;
    text-align: justify;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}
  
input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}
  
input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}
  
input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

.imgcar{
    width: 150px;
    height: 200px;
}

.destacados{
    width: 100%;
    align-text: center;
    background: url(IMG/jerr.png) no-repeat;
    background-size: cover;
    background-position: center;
    perspective: 1000px;
}

.tabla{
    margin-left: 30%;
}

.pies{
    margin: 0;
    background-color: rgba(0, 136, 204, 100);    
}

.piesTitulo{
    margin-left: 10px;
}

.pies ul{
    margin-left: 15px;
    margin-bottom: 10px;
    list-style-type: none;
}
